/* style.css */
header {
    display: flex;
    align-items: center;
    padding: 10px;
}


.header-content {
    display: flex;
    flex-direction: column;
}

.coffee-valley {
    color: #8B4513; 
    font-size: 32px; 
    font-weight: bold; 
    margin: 0;
    margin-left: 10px;
}
.centered-footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2; /* Warna latar belakang footer */
    padding: 10px 0; /* Atur padding di atas dan bawah footer */
}

nav {
    display: flex;
    justify-content: center; /* Mengatur menu navigasi ke tengah */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px; /* Sesuaikan jarak antar menu */
}

nav ul li:last-child {
    margin-right: 0; /* Menghapus margin kanan pada elemen terakhir */
}


nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #8B4513; /* Warna cokelat */
    color: white;
    border-radius: 5px;
}

h3 {
    margin-bottom: 2px; /* Mengurangi margin bawah pada tag h3 */
}

p {
    margin-top: 0; /* Menghilangkan margin atas pada tag p */
}